@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background:#F2EFE9;
}


.sidebar{
    position: fixed;
    height: 100vh;
    background: #F2EFE9;
    width: 30px;
    z-index: 2;
    @media only screen and (max-width: 450px) {
        width: 15px;
    }

    .inner-sidebar{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        .line{
            height: 100vh;
            width: 2px;
            background: #DB4F2E;
        }
    }
}

nav{
    position:fixed;
    width: 95%;
    top:0;
    background:#F2EFE9;
    height:40px;
    z-index: 3;
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 2fr 2fr;
    padding: 2rem 1rem 2rem 2rem ;
    overflow: hidden;
    @media only screen and (max-width: 1000px) {
        padding: 2rem 1rem 2rem .8rem ;

    }
    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;

        .nav-name{
            padding-bottom: 1rem;
        }
    }

    @media (orientation: landscape) and (max-width: 700px) {
        padding: .5rem 1rem;
    }


    .nav-name{
        white-space: nowrap;
        padding: 0 1rem;
        flex: .5;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .red-line{
        padding: 0 1rem;
        background: #DB4F2E;
        height: 2px;
    }
    ul{
      margin:0;
      padding:0;
      list-style:none;
      flex: 1.4;
      margin:0 auto;
      li{
        display:table-cell;
        a{
          padding:10px 13px;
          font-size: .9rem;
          display:block;
          color:black;
          text-decoration:none;
          transition:all 0.3s ease-in-out;
          &:hover{
            color:#DB4F2E;
          }

          @media only screen and (max-width: 500px) {
            padding:10px 7px;

          }
         }
      }
      .active{
         a{
           color:#DB4F2E;
          }
        }
    }
  }

//   all sections
section{
    height: 100%;
    position:relative;
    margin: 0;
    padding: 0;
    display:block;
    z-index: 0;
    background: #F2EFE9;
}

// first section hello

#hello{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100vh;
    @media only screen and (max-width: 500px) {
       margin-top: 12rem;
    }
    @media (orientation: landscape) and (max-width: 700px) {
        margin-top: 8rem;
    }

    .content{
        position: absolute;
        bottom: 0;
        width: 80%;




        h1{
            font-size: clamp(4.5rem, 7vw, 6rem) ;
            font-family: 'Playfair Display', serif;
            text-align: center;
            margin: 0 ;
        }
        hr{
            width: 30%;
            height: 4px;
            background: #DB4F2E;
            outline: none;
            border: none;
            margin: 1rem auto;
        }
        p{
            padding-bottom: 3rem;
            font-size: .8rem;

        }
    }

  }

  // second section in the past
#home{

    .content-container{
        position: relative;
        width: 80%;
        margin: 0 auto;

        h1{

            font-family: 'Playfair Display', serif;
            font-size: clamp(1.4rem, 4vw, 2.4rem);
            text-align: center;
            padding-bottom: 1.5rem;
            @media only screen and (max-width: 500px) {
                padding-bottom: .5rem;
            }
        }
        @media only screen and (max-width: 1050px) {
            text-align: center;
        }

        .grid-container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          gap: 30px;
          margin-bottom: 5rem;


          @media only screen and (max-width: 500px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        }

        .grid-item{
            h2{
                font-family: 'Playfair Display', serif;
                color: #DB4F2E;
                font-weight: 600;
                margin: .5rem 0;
                font-size: 1.3rem;
                span{
                    font-weight: 400;
                }
            }
            p{
                font-size: .8rem;
                padding-top: 1rem;

                @media (orientation: landscape) and (max-width: 700px) {
                        font-size: .5rem;
                }
            }
            h3{
                margin: 0;
                font-weight: 400;
                font-size: 1.1rem;
            }
        }
        }
    }


  }

  // third section projects
#projects{
      color: black;
      height: 100vh;
      margin-top: 10rem;

    @media (orientation: landscape) and (max-width: 700px) {
        margin-top: 8rem;
    }

      .container{
          position: relative;
          width: 80%;
          margin: 0 auto;
          padding-bottom: 2rem;

          h2{
             color: #DB4F2E;
             font-family: 'Playfair Display', serif;
             font-size: clamp(1.7rem,3vw ,2rem);
             margin: .7rem 0 .3rem 0;

            }
          h4{
            color: #DB4F2E;
            margin: 0 0 .8rem 0;

          }

          img{
              // width: 80%;
              // height: 30%;
              max-height: 320px;
          }
          p{
              margin: 0;
              font-size: .8rem;

              @media (orientation: landscape) and (max-width: 700px) {
                font-size: .5rem;
        }
          }

      }
  }

    // fourth section photography
  #photography{

      color: black;
      height: 100vh;
      margin-top: 10rem;

    @media (orientation: landscape) and (max-width: 700px) {
        margin-top: 8rem;
    }


      .photography-container{

       .row{
           display: grid;
           grid-template-columns: repeat(4, 1fr);
           gap: 5px;
           width: 90%;
           margin: 0 auto;
           overflow-x: hidden;
           @media only screen and (max-width: 1150px) {
            grid-template-columns: repeat(3, 1fr);
            width: 80%;
           }
           @media only screen and (max-width: 900px) {
               grid-template-columns: repeat(2, 1fr);
           }
           @media only screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 1fr);
           }

           @media only screen and (max-width: 450px) {
                grid-template-columns: repeat(1, 350px);
           }
           @media only screen and (max-width: 400px) {
            grid-template-columns: repeat(1, 300px);
            margin: 0 auto;
       }





           .row-item{
               justify-self: stretch;
               align-self: stretch;
               place-self: center;
               @media only screen and (max-width: 450px) {
                max-width: 300px;
                max-height: 300px;
                }


               img{
                   max-width: 270px;
                   max-height: 270px;
                   border-radius: 4px;
                   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
                    @media only screen and (max-width: 550px) {
                        max-width: 370px;
                        max-height: 370px;
                    }
                    @media only screen and (max-width: 450px) {
                        max-width: 300px;
                        max-height: 300px;
                    }
               }
           }
       }







      }
  }

//   fifth section blog
  #blog{
    height: 100vh;
    margin-top: 10rem;

    @media (orientation: landscape) and (max-width: 700px) {
        margin-top: 8rem;
    }
      .blog-container{
        width: 80%;
        margin: 0 auto;


        hr{
            background: #DB4F2E;
            height: 2px;
            width: 60%;
            outline: none;
            border: none;
            margin: 2rem auto;
        }
        .blog-entry{
            text-align: center;
            h1{
                margin: 0;
                color: #DB4F2E;
                font-family: 'Playfair Display', serif;
                font-size: 1.9rem;
            }
            h3{
                color: #DB4F2E;
                margin: 0 0 0 0;
            }

            p{
                font-size: .8rem;

                @media (orientation: landscape) and (max-width: 700px) {
                    font-size: .5rem;
            }
            }
        }
      }
  }
