@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.otf"); }

input {
  border: 0;
  outline: none;
  -webkit-appearance: none; }

textarea {
  border: 0;
  outline: none;
  resize: none; }

a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent; }

ul {
  list-style-type: none; }

html, body {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #F2EFE9;
  overflow-x: hidden;
  -webkit-animation: smooth_appearance 0.6s ease-in;
  animation: smooth_appearance 0.6s ease-in; }
  body::-webkit-scrollbar {
    width: 12px; }
  body::-webkit-scrollbar-thumb {
    background-color: #5f6062; }

.sidebar {
  height: 100%;
  width: 30px;
  position: fixed;
  bottom: 0;
  background: #F2EFE9;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  z-index: 10; }
  @media only screen and (max-height: 600px) {
    .sidebar {
      display: none; } }
  @media only screen and (max-width: 450px) {
    .sidebar {
      width: 15px; } }
  .sidebar .line {
    width: 2px;
    height: inherit;
    background: #DB4F2E; }
  .sidebar .dot_link {
    position: absolute;
    top: 194px;
    right: -7px;
    background: #F2EFE9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 0; }
    .sidebar .dot_link a {
      width: 17px;
      height: 17px;
      display: block;
      border-radius: 50%;
      background: #555555;
      margin: 15px 0;
      -webkit-transition: 0.2s all ease-in;
      transition: 0.2s all ease-in;
      position: relative;
      z-index: 4; }
      .sidebar .dot_link a:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        background: #DB4F2E; }

nav {
  position: fixed;
  width: 96%;
  top: 0;
  background: #F2EFE9;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 2rem 1rem 2.3rem 2rem;
  z-index: 13; }
  @media only screen and (max-width: 820px) {
    nav {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      left: 50%;
      top: -147px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 10rem 1rem 3rem 1rem; } }
  @media only screen and (max-width: 550px) {
    nav {
      width: 89%;
      position: absolute;
      text-align: center; } }
  @media only screen and (max-height: 420px) {
    nav {
      width: 90%;
      position: absolute;
      text-align: center; } }
  nav .nav-name {
    font-weight: 500;
    margin-right: 35px; }
    @media only screen and (max-width: 820px) {
      nav .nav-name {
        padding-bottom: 0.5rem;
        margin-right: 0; } }
    nav .nav-name h1 {
      font-size: 1.9rem; }
  nav .red_line {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 1rem;
    background: #DB4F2E;
    height: 2px; }
    @media only screen and (max-width: 820px) {
      nav .red_line {
        display: none; } }
  nav .wrap_nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -webkit-animation: smooth_appearance 0.6s ease-in;
    animation: smooth_appearance 0.6s ease-in; }
    nav .wrap_nav .main_nav {
      margin: 0 15px;
      display: -webkit-box;
      display: flex; }
      nav .wrap_nav .main_nav a {
        padding: 10px 13px;
        font-size: 0.9rem;
        display: block;
        color: black;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        @media only screen and (max-width: 500px) {
          nav .wrap_nav .main_nav a {
            padding: 10px 7px; } }
        @media only screen and (max-width: 400px) {
          nav .wrap_nav .main_nav a {
            font-size: 0.7rem; } }
        nav .wrap_nav .main_nav a:hover {
          color: #DB4F2E; }
      nav .wrap_nav .main_nav .active_nav_menu {
        color: #DB4F2E; }
    nav .wrap_nav .social_networks {
      display: -webkit-box;
      display: flex; }
      @media only screen and (max-width: 970px) {
        nav .wrap_nav .social_networks {
          position: absolute;
          right: 23px;
          bottom: -25px; } }
      @media only screen and (max-width: 820px) {
        nav .wrap_nav .social_networks {
          right: 50%;
          -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
          transform: translateX(50%);
          bottom: -30px; } }
      nav .wrap_nav .social_networks a {
        width: 32px;
        height: 16px;
        background: #5F6062;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: -webkit-right;
        margin: 0 5px;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        nav .wrap_nav .social_networks a:before {
          content: "";
          position: absolute;
          top: -10px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-bottom: 10px solid #5F6062;
          -webkit-transition: 0.2s;
          transition: 0.2s; }
        nav .wrap_nav .social_networks a:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 10px solid #5F6062;
          -webkit-transition: 0.2s;
          transition: 0.2s; }
        nav .wrap_nav .social_networks a:hover {
          background: #DB4F2E; }
        nav .wrap_nav .social_networks a:hover:before {
          border-bottom: 10px solid #DB4F2E; }
        nav .wrap_nav .social_networks a:hover:after {
          border-top: 10px solid #DB4F2E; }
        nav .wrap_nav .social_networks a img {
          width: 15px;
          height: 15px; }

section {
  max-width: 1400px;
  position: relative;
  background: #F2EFE9;
  padding: 0 30px 0 63px;
  margin: 0 auto;
  -webkit-animation: smooth_appearance 0.6s ease-in;
  animation: smooth_appearance 0.6s ease-in; }
  @media only screen and (max-height: 600px) {
    section {
      padding: 0 30px 0 30px !important; } }
  @media only screen and (max-width: 450px) {
    section {
      padding: 20px 30px 0 43px; } }

@-webkit-keyframes smooth_appearance {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes smooth_appearance {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#hello {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1; }
  @media only screen and (max-width: 820px) {
    #hello {
      margin-top: 8rem;
      -webkit-box-pack: unset;
      justify-content: unset; } }
  #hello .content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 135px 38px 0 38px; }
    @media only screen and (min-width: 1100px) {
      #hello .content {
        padding: 90px 38px 0 38px; } }
    @media only screen and (max-width: 820px) {
      #hello .content {
        padding: 24px 0 0 0; } }
    #hello .content h2 {
      font-size: 6rem;
      font-family: 'Playfair Display', sans-serif;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 26px 0;
      align-self: center; }
      @media only screen and (max-width: 650px) {
        #hello .content h2 {
          font-size: 13vw; } }
      @media only screen and (max-width: 450px) {
        #hello .content h2 {
          font-size: 15vw; } }
      #hello .content h2:before {
        content: '';
        width: 90%;
        height: 4px;
        background: #DB4F2E;
        position: absolute;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    #hello .content p {
      padding-bottom: 3rem;
      font-size: 0.9rem; }

#home .content-container {
  position: relative;
  margin: 0 auto; }
  #home .content-container h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1.5rem; }
    @media only screen and (max-width: 650px) {
      #home .content-container h2 {
        font-size: 8vw; } }
    @media only screen and (max-width: 500px) {
      #home .content-container h2 {
        padding-bottom: 0.5rem; } }
  #home .content-container .description_container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 1110px) {
      #home .content-container .description_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column; } }
    #home .content-container .description_container .description_item {
      -webkit-box-flex: 0;
      flex: 0 0 calc(47% - 30px);
      padding: 30px; }
      @media only screen and (max-width: 1110px) {
        #home .content-container .description_container .description_item {
          -webkit-box-flex: unset;
          flex: unset;
          text-align: center;
          margin: 30px 0;
          padding: 0; } }
      #home .content-container .description_container .description_item h3 {
        font-family: 'Playfair Display', sans-serif;
        color: #DB4F2E;
        font-weight: 600;
        margin: 0.5rem 0;
        font-size: 1.3rem; }
        #home .content-container .description_container .description_item h3 span {
          font-weight: 400; }
      #home .content-container .description_container .description_item p {
        font-size: 0.9rem;
        padding-top: 1rem;
        text-align: left; }
      #home .content-container .description_container .description_item span {
        margin: 0;
        font-weight: 400;
        font-size: 1.1rem; }

.projects {
  max-width: 1200px;
  color: black;
  min-height: 100vh;
  margin: 7rem auto 5rem auto; }
  @media only screen and (max-width: 1200px) {
    .projects {
      max-width: 700px; } }
  .projects .container_projects_item {
    position: relative;
    margin: 0 auto;
    padding: 105px 22px 0; }
    @media only screen and (max-width: 550px) {
      .projects .container_projects_item {
        padding: 2.5rem 0 2rem 0; } }
    .projects .container_projects_item h2 {
      color: #DB4F2E;
      font-family: 'Playfair Display', sans-serif;
      font-size: 2rem;
      margin: 0.7rem 0 0.3rem 0; }
    .projects .container_projects_item h4 {
      color: #DB4F2E;
      margin: 0 0 0.8rem 0;
      font-size: 1rem; }
    .projects .container_projects_item img {
      width: 100%;
      max-height: 450px;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: left;
      object-position: left; }
    .projects .container_projects_item p {
      margin: 0;
      font-size: 0.9rem; }

.photography {
  color: black;
  min-height: 100vh;
  margin-top: 10rem; }
  .photography .gallery_photo_list {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    grid-gap: 1px;
    padding: 20px 0 40px 0; }
    @media only screen and (max-width: 1110px) {
      .photography .gallery_photo_list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3; } }
    @media only screen and (max-width: 768px) {
      .photography .gallery_photo_list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; } }
    @media only screen and (max-width: 500px) {
      .photography .gallery_photo_list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1; } }
    .photography .gallery_photo_list .gallery_photo_list_item {
      margin: 0 0 0.6em;
      text-align: center; }
      .photography .gallery_photo_list .gallery_photo_list_item img {
        width: 95%;
        height: auto;
        border-radius: 4px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438); }

.blog {
  height: 100vh;
  margin-top: 10rem; }
  .blog .blog-container {
    margin: 0 auto;
    padding: 90px 0 30px 0; }
    @media only screen and (max-width: 550px) {
      .blog .blog-container {
        padding: 30px 0 30px 0; } }
    .blog .blog-container span {
      background: #DB4F2E;
      height: 2px;
      width: 60%;
      outline: none;
      border: none;
      margin: 2rem auto;
      display: block; }
    .blog .blog-container .blog-entry {
      text-align: center; }
      .blog .blog-container .blog-entry h1 {
        margin: 0;
        color: #DB4F2E;
        font-family: 'Playfair Display', sans-serif;
        font-size: 1.9rem; }
      .blog .blog-container .blog-entry h3 {
        color: #DB4F2E;
        margin: 0 0 0 0; }
      .blog .blog-container .blog-entry p {
        font-size: .9rem;
        text-align: left;
        margin: 15px 0; }

.active_dot_link {
  background: #DB4F2E !important; }

@media only screen and (max-width: 550px) {
  .line_none {
    display: none; }
  .indent_correction {
    padding: 20px 30px 0 20px; } }

/*# sourceMappingURL=style.css.map */
